transcribe/node_modules
transcribe/package-lock.json
transcribe/audio
app/ios/Pods
app/yarn.lock
app/ios/sparrow.xcodeproj/project.pbxproj
backend/node_modules
backend/data
backend/package-lock.json
app/ios/Podfile.lock
app/ios/sparrow.xcodeproj/project.pbxproj
backend/app/tmp
backend/wav/audio_stream.wav
backend/.env
