app/ios/Pods
app/yarn.lock
app/ios/sparrow.xcodeproj/project.pbxproj
app/ios/Podfile.lock
app/ios/sparrow.xcodeproj/project.pbxproj

backend/node_modules
backend/data
backend/package-lock.json
backend/app/tmp
backend/.env
backend/app/wav

sparrow-assistant.code-workspace

*.pyc
